* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
}
