.main {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
}

.container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 5px;
  border-color: mediumslateblue;
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin: 0.5rem;
  height: 1.5rem;
  width: 20rem;
}

.checkbox {
  font-size: small;
}
.button {
  height: 2rem;
  width: 9.5rem;
  margin: 1rem;
}


@media screen and (max-width: 800px) and (min-width: 600px) {
  .container {
    width: 75%;
    height: 75%;
  }
}
