.container {
  border: solid 1px white;
  height: 15rem;
  width: 27.5rem;
  /* todo style scroll bar */
  overflow-y: scroll;
}

.table {
  height: 100%;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.tableHeader {
  color: tomato;
  border-bottom: solid 1px white;
}
