.main {
  color: white;
}

.title {
  color: lime;
  display: flex;
  justify-content: space-around;
  font-size: xx-large;
}

.container {
  width: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px mediumslateblue;
  border-radius: 5px;
  margin: 1rem;
  transition: all 0.5s;
}

.logout:hover {
  color: tomato;
  transition: all 0.5s;
}

.button {
  background-color: mediumslateblue;
  color: white;
  height: 2rem;
  width: 9.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
}

.button:hover {
  background-color: lime;
  color: black;
}

.button:focus {
  background-color: lime;
  color: black;
}

@media screen and (max-width: 900px) {
  .container {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 400px;
  }
}
